// MISC 
@import 'misc/normalize.scss';
@import 'misc/variables.scss';

//GLOBAL
@import 'global/global.scss';
@import 'global/header.scss';
@import 'global/footer.scss';

// VIEWS
@import 'views/index.scss';
@import 'views/bar&rest.scss';
@import 'views/galeria.scss';
@import 'views/nosotros.scss';
@import 'views/contacto.scss';

// MEDIA QUERIES
@import 'mediaqueries.scss';