body {
	background: url(../img/textura_bg.jpg);
}

a {
	color: $blanco;
	font-family: $titulos;
	text-decoration: none;
	font-weight: 400;
	text-align: center;
}

h1 {
	-webkit-text-stroke: 1px $negro;
	font-family: $titulos;
	font-weight: 600;
	color: $blanco;
	font-size: 1.8rem;
}

h2 {
	font-family: $titulos;
	font-weight: 600;
	font-size: 1.8rem;
}

h3 {
	font-family: $titulos;
	font-weight: 600;
	font-size: 1.3rem;
}

p {
	font-family: $parrafo;
	font-size: 1.1rem;
}

.texto_negrita {
	font-weight: bold;
}

.h2_center {
	display: flex;
	justify-content: center;
	margin-top: 3%;
	margin-bottom: 3%;
	text-decoration: underline;
}