.bg_nav-oscuro {
	background-color: $carbon;
}

.nav-link {
	text-align: center;
	font-family: $titulos;
	font-size: 1.1rem;
	font-weight: normal;
}

.navbar-dark {
	.navbar-nav {
		.nav-link {
			color: $blanco;
			&:hover {
				color: $desert-hover;
			}
		}
	}
}

.navbar-toggler {
	background-color: $negro;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-right: 0.3rem;
}